<a href="https://colab.research.google.com/github/modem0011/Leetcode/blob/master/How_Many_Numbers_Are_Smaller_Than_the_Current_Number.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
class Solution:
    def smallerNumbersThanCurrent(self, nums) :
        x=[]
        for i in nums:
            count=0
            for  j in range(len(nums)):
                if i > nums[j]:
                    count=count+1
            x.append(count)        
           
        return x

In [12]:
a=Solution()

In [13]:
a.smallerNumbersThanCurrent([2,3,6,2,5,9])

[0, 2, 4, 0, 3, 5]